:root {
  --brand-color: rgb(75, 209, 160);
  --background-highlight-color: rgb(186, 218, 85);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px; /* this is the root font size, aka 1rem */
  /* using rem units for fonts and spacing around the site emphasizes proportionality in code */
}

body {
  margin: 0;
}

header {
  margin-bottom: 9rem;
  margin-top: 5rem;
}

footer {
  font-size: 0.75rem;
  text-align: center;
}

img {
  max-width: 100%;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

/* FONT CLASSES */
/* TODO: clean up unused font styles after completing revision */
.lato-thin {
  font-family: "Lato", serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", serif;
  font-weight: 900;
  font-style: italic;
}

.prompt-thin {
  font-family: "Prompt", serif;
  font-weight: 100;
  font-style: normal;
}

.prompt-extralight {
  font-family: "Prompt", serif;
  font-weight: 200;
  font-style: normal;
}

.prompt-light {
  font-family: "Prompt", serif;
  font-weight: 300;
  font-style: normal;
}

.prompt-regular {
  font-family: "Prompt", serif;
  font-weight: 400;
  font-style: normal;
}

.prompt-medium {
  font-family: "Prompt", serif;
  font-weight: 500;
  font-style: normal;
}

.prompt-semibold {
  font-family: "Prompt", serif;
  font-weight: 600;
  font-style: normal;
}

.prompt-bold {
  font-family: "Prompt", serif;
  font-weight: 700;
  font-style: normal;
}

.prompt-extrabold {
  font-family: "Prompt", serif;
  font-weight: 800;
  font-style: normal;
}

.prompt-black {
  font-family: "Prompt", serif;
  font-weight: 900;
  font-style: normal;
}

.prompt-thin-italic {
  font-family: "Prompt", serif;
  font-weight: 100;
  font-style: italic;
}

.prompt-extralight-italic {
  font-family: "Prompt", serif;
  font-weight: 200;
  font-style: italic;
}

.prompt-light-italic {
  font-family: "Prompt", serif;
  font-weight: 300;
  font-style: italic;
}

.prompt-regular-italic {
  font-family: "Prompt", serif;
  font-weight: 400;
  font-style: italic;
}

.prompt-medium-italic {
  font-family: "Prompt", serif;
  font-weight: 500;
  font-style: italic;
}

.prompt-semibold-italic {
  font-family: "Prompt", serif;
  font-weight: 600;
  font-style: italic;
}

.prompt-bold-italic {
  font-family: "Prompt", serif;
  font-weight: 700;
  font-style: italic;
}

.prompt-extrabold-italic {
  font-family: "Prompt", serif;
  font-weight: 800;
  font-style: italic;
}

.prompt-black-italic {
  font-family: "Prompt", serif;
  font-weight: 900;
  font-style: italic;
}

.bodoni-moda-italic {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

.roboto-flex-headline {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 770;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 600;
}
/* END FONT CLASSES */

p.aside {
  font-size: 0.875rem;
  font-style: italic;
}

.column-container {
  display: grid;
  justify-content: center;
  gap: 5rem;
}

.column-container.three-col {
  grid-template-columns: 15rem 15rem 15rem;
  grid-template-columns: repeat(3, 240px);
  grid-template-columns: repeat(auto-fit, minmax(240px, 240px));
  grid-template-columns: repeat(3, fit-content(240px));
}

.column-container.two-col {
  grid-template-columns: 50% 50%;
}

.perspectives .col {
  display: grid;
  grid-template-rows: 1.3em 1fr; /* first row is by CURRENT font size, not root (not rem) */
  gap: 1.5rem 0;
  width: 240px;
}

.samples .col {
  grid-template-rows: 175px 1.3em 1fr;
  gap: 1.5rem 0;
}

.grid-fill-col {
  display: grid;
  align-content: space-between;
  gap: 0.5rem;
}

.button {
  display: inline-block;
  background-color: black;
  color: white;
  height: 2.5rem; /* 2.5rem == 40px */
  line-height: 2.5rem;
  width: 300px;
  text-align: center;
  text-decoration: none;
  margin: 2.5rem;
}

.contact-img-bg {
  height: 568px;
  width: 467px;
  background-image: url("media/lets-connect.avif");
  background-repeat: no-repeat;
  background-size: contain;
}

.contact-title {
  background-color: black;
  color: white;
  display: inline-block;
  padding: 0.25em;
  position: relative;
  left: 86px;
  top: 90px;
}

.color-bg {
  background-color: var(--background-highlight-color);
}

.gray-bg {
  background-color: rgba(237, 237, 237, 0.8);
}

.section {
  padding: 0.5rem;
}

.section-head {
  padding: 3.75rem 0;
  text-align: center;
}

.section-head .title {
  font-size: 3.5rem;
  line-height: 1;
}

.section-head p {
  line-height: 1.875;
  margin: 0;
}

.section-head :last-child {
  margin-bottom: 0;
}

.section :first-child {
  margin-top: 0;
}

.samples img {
  height: 175px;
  overflow: hidden;
}

.perspectives {
  text-align: center;
}

.perspectives .roboto-flex-headline {
  font-size: 1.375rem;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.perspectives .grid-fill-col {
  line-height: 1.8;
}

.section.superpower {
  padding: 4rem;
}

.section.nail-message {
  padding: 2rem 4rem;
}

.nail-message .gray-bg {
  padding-top: 5rem;
  padding-bottom: 2rem;
  text-align: center;
}

.nail-message .wrapper {
  margin: 0 auto;
  max-width: 45rem;
}

.nail-message .wrapper p,
.nail-message .wrapper ul,
.nail-message .wrapper li {
  margin: 0;
  text-align: left;
  font-size: 1.125rem;
  line-height: 1.8;
}

.nail-message .button {
  margin-top: 5rem;
}

.superpower .column-container.two-col {
  background-color: white;
  grid-template-columns: 1fr 305px;
  gap: 1rem;
  padding-left: 1rem;
}

.superpower-text {
  /* settings as grid child */
  align-self: center;
  justify-self: center;
  /* settings as flex container */
  display: flex;
  flex-direction: column;
  max-width: 35rem;
  /* settings for typesetting */
  font-size: 1.125rem;
  line-height: 1.8;
  max-width: 29.2rem;
}

.superpower-title {
  font-size: 1.625rem;
  line-height: 1.2;
}

.superpower img {
  height: 500px;
  width: auto;
}

.site-subtitle {
  text-align: center;
  margin-top: 0;
}

.site-title {
  color: var(--brand-color);
  font-size: 2.75rem;
  letter-spacing: 21px;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}

.title {
  font-size: 2.25rem;
  text-align: center;
}

.work-samples .title {
  font-size: 2.5rem;
  padding: 0.75rem 0;
}

@media (max-width: 980px) {
  .column-container.three-col,
  .column-container.two-col {
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .column-container.three-col,
  .column-container.two-col {
    grid-template-columns: 1fr;
  }

  .three-col .col {
    margin: 0 auto;
  }
}
